@mixin fitcontent {
  width: fit-content;
  height: fit-content;
}
@mixin grid-self-center {
  align-self: center;
  justify-self: center;
}
@mixin base-button {
    border: none;
    background-color:skyblue;
    color: black;
    // text-decoration: ;
    border-radius: 10%;
    cursor: pointer;
    padding: 5px;
}
.alert {
  border: 1px solid red;
}
.reduce-opacity{
    opacity: 0.5;
}
.strike-through{
    text-decoration: line-through;
}
// label,
// .addtodo-btn {
//   display: block;
// }
.container {
  height: 100%;
  position: relative;
  top:10%;
  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 242, 242, 0.801);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
      label,
      button {
        display: block;
      }
      label {
        font-size: larger;
      }
    }
  }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    min-height: 60vh;
    .heading {
          // justify-self: center;
          display: grid;
          grid-template-columns: 2fr 1fr 1fr 0.4fr;
          grid-template-rows: 25px;
          grid-auto-flow: column;
          width: 100%;
          // min-width: 300px;
        max-width: 448px;
        p{
          @include grid-self-center();
        }
          h3 {
            margin: 0;
          }
          button {
            @include fitcontent();
            @include grid-self-center();
            @include base-button();
            grid-column-start: 2;
            padding: 3px;
          }
          div {
              text-align: end;
            label,
            input {
              width: 90px;
            }
            input {
              border: none;
              border-bottom: 1px solid black;
            }
            input:focus {
              outline: none;
              //    outline-bottom: 1px solid black;
            }
          }
        }
    .todo-container {
        
      height: 60vh;
      min-width: 300px;
      max-width: 497px;
      .todo {
        display: grid;
        grid-template-columns: 20px 2fr 1.5fr 1fr;
        border-top: 1px solid skyblue;
        grid-template-rows: repeat(auto-fit, minmax(35px, 35px));
        width: 100%;
        max-width: 600px;
        // min-width: 448.375px;
        span{
          @include grid-self-center();
          color:gray;
          font-size: 13px;
          justify-self: flex-end;
        }
        input {
          width: fit-content;
          align-self: center;
        }
        p {
          align-self: center;
        }
        .todo-buttons {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-right: 10px;
          .todo-edit {
            @include fitcontent();
            @include grid-self-center();
            @include base-button();
          }
          .todo-delete {
            @include fitcontent();
            @include grid-self-center();
            @include base-button();
          }
        }
      }
    }
    .pagination{
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 448px;
    grid-row-end: 4;
    align-self: flex-end;
      form{
        input{
          width: 35px;
           margin-right: 10px;
        }
        button{
          margin-right: 20px;
        }
      }
      select{

      }
    }
  }
}

.overflow {
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: skyblue;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
